<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NorthernSpectrums.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NorthernSpectrums.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="DriverMode" serializeAs="String">
                <value>ASIO</value>
            </setting>
            <setting name="Driver" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Input" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Output" serializeAs="String">
                <value>0</value>
            </setting>
        </NorthernSpectrums.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="1/1" value="4"/>
    <add key="1/2" value="2"/>
    <add key="1/4D" value="1.5"/>
    <add key="1/4" value="1"/>
    <add key="1/4T" value="0.66666"/>
    <add key="1/8D" value="0.75"/>
    <add key="1/8" value="0.5"/>
    <add key="1/8T" value="0.33333"/>
    <add key="1/16D" value="0.375"/>
    <add key="1/16" value="0.25"/>
    <add key="1/16T" value="0.16666"/>
    <add key="1/32D" value="0.187.5"/>
    <add key="1/32" value="0.125"/>
    <add key="1/32T" value="0.08333"/>
  </appSettings>
</configuration>